<!DOCTYPE html>
<html>
  <head>
    <title>TalkOnline</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <main class="container max-w-xl mx-auto py-12 md:max-w-4xl">
      <%= yield %>
    </main>
  </body>
</html>
